In [222]:
import re
import pandas as pd
import numpy as np

In [287]:
news = pd.read_csv('naver_interest_article(0721_orgin).csv')
news_origin = news.copy()

In [288]:
date = news['date']
date = list(date.fillna('NaN'))

In [289]:
# yyyy.mm.dd뽑기
datenew = []
for i in range(len(date)):
    if  re.findall('([0-9.]+[0-9.]+[0-9]+)',date[i]) == []:
        datenew.append('NaN')
    else:
        datenew.append(re.findall('([0-9.]+[0-9.]+[0-9]+)',date[i])[0])

new_date = pd.DataFrame(datenew,columns=['new_date'])

206737

In [290]:
data = pd.concat([news, new_date],axis=1)
data = data.dropna(axis=0)
# 206737 -> 205495

206737

In [292]:
# date형식으로 바꾸기
data['new_date'] = pd.to_datetime(data['new_date'])
len(data)

205495

In [305]:
# 2005-05-01부터로 설정하기
sdate = datetime.strptime('2005-05-01','%Y-%m-%d')
data = data[sdate<=data['new_date']]
len(data)

200885

In [303]:
data.to_csv('naver_interest_article_date.csv',index=False)

In [306]:
# date처리하면서 drop한 행의 개수
206737-200885

5852